<div *ngIf="showButton" class="button">
    <button (click)="navigateToHome()" class="btn btn-dark my-5 mx-5">Go to page</button>
    <button (click)="toggleDetails()" class="btn btn-dark my-5">Toggle details</button>
<div>
<section *ngIf="showDetails" style="width:100%;">
    <div class="container" >
        <div class="row mx-auto text-center">
            <div class="col my-5 display-5">
                <div>First Name: {{userObject.firstName}}</div>
                <div>Last Name: {{userObject.lastName}}</div>
                <div>Email: {{userObject.email}}</div>
                <div>Monthly Estimated Budget: {{userObject.monthlyEstimatedBudget}}</div>
                <div>Phone Number: {{userObject.phoneNumber}}</div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>